	passenger_env_var AWS_REGION {{ s3_region }};
	passenger_env_var AWS_ACCESS_KEY_ID {{ s3_access_key_id }};
	passenger_env_var AWS_SECRET_ACCESS_KEY {{ s3_secret_access_key }};
	passenger_env_var S3_BUCKET {{ s3_bucket }};
	passenger_env_var LFS_SERVER_URL {{ lfs_server_url }};
	passenger_env_var LFS_PUBLIC_SERVER false;
	passenger_env_var LFS_CEPH_S3 false;
	passenger_env_var LFS_CEPH_ENDPOINT none;	
	passenger_env_var LFS_GITHUB_ORG {{ lfs_github_org }};