	passenger_env_var AWS_REGION eu-central-1;
	passenger_env_var AWS_ACCESS_KEY_ID ACCESSKEY;
	passenger_env_var AWS_SECRET_ACCESS_KEY SECRETACCESSKEY;
	passenger_env_var S3_BUCKET tamedtornado-lfs;
	passenger_env_var LFS_SERVER_URL http://server:8080;
	passenger_env_var LFS_PUBLIC_SERVER false;
	passenger_env_var LFS_CEPH_S3 false;
	passenger_env_var LFS_CEPH_ENDPOINT none;	
